<html><head>
    <title>
        HOME PAGE
    </title>
    <link type ="text/css" rel = "stylesheet" href="{{url_for('static',filename='css/example.css')}}">
</head>
<body>
    {% block content %}

    <h1>Welcome Ms. NAMITHA </h1>
    <ol>
    {% for i in List %}
   
        <li>
            {{i}}
        </li>
    {%endfor%}
    </ol>

    <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/profile">Profile</a></li>
    </ul>
    <button onclick="check()">click</button>

{% endblock %}
<script type="text/javascript" src="{{url_for('static',filename='js/ex.js')}}">

</script>
</body>
</html>
