<html><head>
    <title>
        HOME PAGE
    </title>
    <link type ="text/css" rel = "stylesheet" href="{{url_for('static',filename='css/bootstramp.css')}}">
</head>
<style>
    .header{
        background-color: aqua;
        color: honeydew;
        text-align:centre;
    }
    .menu{
        background-color: rgb(234, 96, 158);
    }
</style>
<body>
    
<div class="container ">
  <div class="row header"> <!--header-->
    <div class="col-sm-4">
      <h1>welcome !</h1>
    </div>
  </div>
  <!--body-->
    <div class="row main-row">
        <div class="col-sm-4 menu">
        <ul class="list group" style="background: #ffffff;">
            <li class="list items"><a href="/">HOME</a></li>
            <li class="list items"><a href="/?page=register">REGISTER</a></li>
            <li class="list items"><a href="/?page=login">LOGIN</a></li>
            <li class="list items"><a href="/?page=about">ABOUT</a></li>
            <li class="list items"><a href="/?page=sports">SPORTS</a></li>
        </ul>
        </div>
        <div class = "col-sm-2">
          {%if myargs["page"] == "register":%}
             {%include 'register.html' %}
          {%elif myargs["page"] == "login":%}
              {%include 'login.html' %}
          {%endif%}
        </div>
    </div>
<!-- footer-->
  <div class="row header"> <!--header-->
    <div class="col-sm-4">
      <h1>THANK YOU!</h1>
    </div>
  </div>
    
</div>

</body>
</html>
